# 调试器：CMSIS-DAP

source [find interface/cmsis-dap.cfg]
# source [find interface/jlink.cfg]   # 使用 J-Link 硬件调试时改这里

# 接口：SWD
transport select swd
adapter speed 1000

# 目标芯片（换芯片改这里；F1: stm32f1x.cfg，H7: stm32h7x.cfg）
source [find target/stm32f4x.cfg]
